@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

@import "~@blueprintjs/core/lib/scss/variables.scss";

:root {
  --grid-column-count: 3;
}

.root {
  background-color: $black;
  height: 100vh;
  width: 100vw;
  padding: 20px;

  overflow: auto;
}

.loading-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: 200ms ease-in opacity;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: $black;
  pointer-events: none;

  &.loading {
    opacity: 1;
  }
}

$inner-cell-dimension: 32px;
$cell-dimension: $inner-cell-dimension + 1;
$cell-background: $dark-gray5;

.page-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 0 10px 0;

  h1 {
    margin: 0;
  }
}

.grid-unlock-icon {
  padding-left: 8px;
  height: 28px;
}

.puzzle-view {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.selected-puzzle-hint {
  background-color: $forest1;
  font-weight: 600;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(var(--grid-column-count), $cell-dimension);
  grid-template-rows: repeat(auto-fill, $cell-dimension);

  .grid-cell-hint-number-selected {
    font-weight: 600;
  }

  .grid-cell {
    height: $inner-cell-dimension;
    width: $inner-cell-dimension;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    caret-color: transparent;
    border: none;
  }

  .grid-cell-empty {
    background-color: $cell-background;
  }

  .grid-cell-filled {
    background-color: $cell-background;
  }

  .grid-cell-selected {
    background-color: $forest1;
  }

  .grid-cell-hint-number {
    position: absolute;
    top: 2px;
    left: 2px;
    pointer-events: none;
    color: $light-gray1;
  }

  .grid-cell-wrapper {
    position: relative;
    font-size: xx-small;
  }
}
