name: bundlemon

on:
  push:
    branches: [main]
  pull_request:
    types: [synchronize, opened, reopened]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: oven-sh/setup-bun@3d267786b128fe76c2f16a390aa2448b815359f3 # v2
      - run: bun --version
      - run: bun install --frozen-lockfile
      - run: bun run build
      - name: bundlemon
        uses: lironer/bundlemon-action@cadbdd58f86faf1900725ef69d455444124b3748 # v1
